        <section id="footer">
            <nav class="clear-fix">
                <a href="https://popcorntime.io/" class="logo">Popcorn time</a>
                <ul class="social">
                    <% include social %>
                </ul>
            </nav>
            <footer>
                <hr>
                <p data-i18n="[html]footer.love">Made with <span>&#10084;</span> by a bunch of geeks from All Around The World</p>
                <small>
                    <a id="status" data-i18n="footer.status" href="http://status.popcorntime.io/" target="_blank">Status</a> &mdash;
                    <a data-i18n="footer.tos" href="https://popcorntime.io/tos">Terms of Service</a> &mdash;
                    <a data-i18n="footer.faq" href="https://popcorntime.io/faq">FAQ</a> &mdash;
                    <a data-i18n="footer.con" href="https://blog.popcorntime.io/popcorn-communications/">Contact us / About</a>
                </small>
            </footer>
        </section>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/1.6.3/i18next-1.6.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/main<% if(!data.dev) { %>.min<% } %>.js"></script>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PRQFP4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PRQFP4');</script>
    <!-- End Google Tag Manager -->

    <% include microdata %>
