        <section id="footer">
            <nav class="clear-fix">
                <a href="http://get-popcorn.com" class="logo">Popcorn time</a>
                <ul class="social">
                    <li><a href="http://get-popcorn.com/" target="_blank" class="popcorn">Popcorn Time</a></li>
                    <li><a href="http://blog.get-popcorn.com/" target="_blank" class="blog">Blog</a></li>
                    <li><a href="http://discuss.get-popcorn.com/" target="_blank" class="discourse">Forum</a></li>
                    <li><a href="https://twitter.com/popcorntimetv" target="_blank" class="twitter">Twitter</a></li>
                    <li><a href="https://plus.google.com/106562585070802704431" rel="publisher" target="_blank" class="google">Google+</a></li>
                    <li><a href="https://www.facebook.com/PopcornTimeTv" target="_blank" class="facebook">Facebook</a></li>
                    <li><a href="https://github.com/popcorn-official" target="_blank" class="github">Github</a></li>
                </ul>
            </nav>
            <footer>
                <hr>
                <p>Made with <span>&#10084;</span> by a bunch of geeks from All Around The World</p>
                <small>
                    <a id="status" data-i18n="footer.faq" href="http://status.get-popcorn.com/" target="_blank">Status</a> &mdash; 
                    <a data-i18n="footer.tos" href="http://get-popcorn.com/tos">Terms of Service</a> &mdash; 
                    <a data-i18n="footer.faq" href="http://get-popcorn.com/faq">FAQ</a>
                </small>
            </footer>
        </section>
    </div>
    <script type="text/javascript" src="js/main<% if(!data.dev) { %>.min<% } %>.js"></script>
    <script type="text/javascript" src="js/site<% if(!data.dev) { %>.min<% } %>.js"></script>