<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Popcorn Time - <%= title %></title>
    <!-- Use latest IE Engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Metadata -->
    <meta name="keywords" content="popcorn,time,download,streaming,movies,tv,shows,free,hd,android,popcorn-time,popcorntime">
    <meta name="description" content="Skip the downloads! Watch the best movies &amp; TV shows on Popcorn Time instantly in HD, with subtitles, for free! Available for Windows, Mac, Linux and Android.">
    <meta name="author" content="Popcorn Time">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta name="language" content="english">
    <meta name="google" content="notranslate">
    <meta name="google-site-verification" content="MD35CXFqrNQJZy0bQKGSdtX7cTAYov9mHP64rTYsgUQ" />
    <!-- Facebook OpenGraph Metadata -->
    <meta property="og:title" content="Popcorn Time">
    <meta property="og:description" content="Skip the downloads! Watch the best movies &amp; TV shows on Popcorn Time instantly in HD, with subtitles, for free! Available for Windows, Mac, Linux and Android.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://popcorntime.io">
    <meta property="og:image" content="https://popcorntime.io/images/graph-image.png"> <!-- 1200x630px -->
    <!-- Twitter Cards Metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://popcorntime.io">
    <meta name="twitter:domain" content="popcorntime.io">
    <meta name="twitter:title" content="Popcorn Time">
    <meta name="twitter:description" content="Skip the downloads! Watch the best movies &amp; TV shows on Popcorn Time instantly in HD, with subtitles, for free! Available for Windows, Mac, Linux and Android.">
    <meta name="twitter:image" content="images/icon152.png">
    <meta name="twitter:site" content="@popcorntimetv">
    <meta name="twitter:creator" content="@popcorntimetv">
    <!-- Bookmark/Shortcut Icons -->
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Popcorn Time">
    <link rel="apple-touch-icon-precomposed" href="images/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon-precomposed" href="images/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon-precomposed" href="images/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon-precomposed" href="images/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon-precomposed" href="images/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon-precomposed" href="images/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="images/icon57.png" sizes="57x57">
    <link rel="apple-touch-startup-image" media="(orientation: portrait) and (-webkit-max-device-pixel-ratio: 2)" href="images/apple-startup.png">
    <link rel="apple-touch-startup-image" media="(orientation: landscape) and (-webkit-max-device-pixel-ratio: 2)" href="images/apple-startup-landscape.png">
    <link rel="apple-touch-startup-image" media="(orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)" href="images/apple-startup-retina.png">
    <link rel="apple-touch-startup-image" media="(orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)" href="images/apple-startup-landscape-retina.png">
    <!-- CSS -->
    <link href="css/main<% if(!data.dev) { %>.min<% } %>.css" media="all" rel="stylesheet" type="text/css">
</head>
