<li><a href="https://blog.popcorntime.re/" title="Blog" target="_blank" class="blog">Blog</a></li>
<li><a href="https://discuss.popcorntime.re/" title="Forum" target="_blank" class="discourse">Forum</a></li>
<li><a href="https://twitter.com/popcorntimetv" title="Twitter" target="_blank" class="twitter">Twitter</a></li>
<li><a href="https://www.facebook.com/PopcornTimeTv" title="Facebook" target="_blank" class="facebook">Facebook</a></li>
<li><a href="https://www.reddit.com/r/PopCornTime/" title="Reddit" target="_blank" class="reddit">Reddit</a></li>
<li><a href="https://git.popcorntime.re/" title="GitLab" target="_blank" class="gitlab">GitLab</a></li>