[class^="btn-"] {
  border-radius: 3px;
  padding: 14px 20px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat Semibold';
  display: inline-block;
  transition: background-color ease .2s;
}
.btn-disabled {
  background-color: $button-disabled;
  cursor: default;
  pointer-events: none;
}
.btn-main {
  background-color: $button-red;

  &:hover {
    background-color: darken($button-red, 10%);
  }

  &:active {
    background-color: darken($button-red, 20%);
  }
}
.btn-wider {
	padding: 14px 45px;
}
.btn-wide {
  width: 200px;
}
.btn-med {
  width: 130px;
  display: block;
  margin: 0 auto;
  text-align: center;
}