@font-face {
	font-family: 'popcorn';
	src:url('../fonts/popcorn.eot?yuu85v');
	src:url('../fonts/popcorn.svg?yuu85v#popcorn') format('svg'),
		url('../fonts/popcorn.eot?#iefixyuu85v') format('embedded-opentype'),
		url('../fonts/popcorn.woff?yuu85v') format('woff'),
		url('../fonts/popcorn.ttf?yuu85v') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/brandontext-regular-webfont.eot');
    src: url('../fonts/brandontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-regular-webfont.woff') format('woff'),
         url('../fonts/brandontext-regular-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-regular-webfont.svg#BrandonText') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/brandontext-bold-webfont.eot');
    src: url('../fonts/brandontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-bold-webfont.woff') format('woff'),
         url('../fonts/brandontext-bold-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-bold-webfont.svg#BrandonText') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/brandontext-light-webfont.eot');
    src: url('../fonts/brandontext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-light-webfont.woff') format('woff'),
         url('../fonts/brandontext-light-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-light-webfont.svg#BrandonText') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/brandontext-regularitalic-webfont.eot');
    src: url('../fonts/brandontext-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-regularitalic-webfont.woff') format('woff'),
         url('../fonts/brandontext-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-regularitalic-webfont.svg#BrandonText') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/montserrat-bold.eot');
    src: url('../fonts/montserrat-bold.svg#montserratbold') format('svg'),
         url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.svg#montserratregular') format('svg'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/proxima-nova-light.eot');
    src: url('../fonts/proxima-nova-light.svg#proxima_nova_ltlight') format('svg'),
         url('../fonts/proxima-nova-light.woff') format('woff'),
         url('../fonts/proxima-nova-light.ttf') format('truetype'),
         url('../fonts/proxima-nova-light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/proxima-nova-semibold.eot');
    src: url('../fonts/proxima-nova-semibold.svg#proxima_nova_ltsemibold') format('svg'),
         url('../fonts/proxima-nova-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova-semibold.woff') format('woff'),
         url('../fonts/proxima-nova-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proxima-nova-bold.eot');
    src: url('../fonts/proxima-nova-bold.svg#proxima_nova_rgbold') format('svg'),
         url('../fonts/proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova-bold.woff') format('woff'),
         url('../fonts/proxima-nova-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold Italic';
    src: url('../fonts/proxima-nova-semibold-italic.eot');
    src: url('../fonts/proxima-nova-semibold-italic.svg#proxima_novasemibold_italic') format('svg'),
         url('../fonts/proxima-nova-semibold-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova-semibold-italic.woff') format('woff'),
         url('../fonts/proxima-nova-semibold-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, 
[class*=" icon-"]:before {
	font-family: 'popcorn';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: "\e600";
}
.icon-browser:before {
	content: "\e601";
}
.icon-linux:before {
    content: "\e60f";
}
.icon-win:before {
	content: "\e602";
}
.icon-vlc:before {
	content: "\e603";
}
.icon-hd:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-eye:before {
	content: "\e607";
}
.icon-play:before {
	content: "\e608";
}
.icon-mac:before {
	content: "\e609";
}
.icon-laptop:before {
    content: "\e60a";
}
.icon-screen:before {
    content: "\e60b";
}
.icon-window:before {
    content: "\e60c";
}
.icon-info:before {
    content: "\e60d";
}
.icon-close:before {
    content: "\e60e";
}