@font-face {
    font-family: 'popcorn';
    src:url('../fonts/popcorn.eot?54871604');
    src:url('../fonts/popcorn.svg?54871604#popcorn') format('svg'),
        url('../fonts/popcorn.eot?54871604#iefix') format('embedded-opentype'),
        url('../fonts/popcorn.woff?54871604') format('woff'),
        url('../fonts/popcorn.ttf?54871604') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.svg#montserratregular') format('svg'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/montserrat-light.eot');
    src: url('../fonts/montserrat-light.svg#montserrat_light') format('svg'),
         url('../fonts/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat-light.ttf') format('truetype'),
         url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Semibold';
    src: url('../fonts/montserrat-semibold.eot');
    src: url('../fonts/montserrat-semibold.svg#montserrat_semibold') format('svg'),
         url('../fonts/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-semibold.woff') format('woff'),
         url('../fonts/montserrat-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Ultralight';
    src: url('../fonts/montserrat-ultralight.eot');
    src: url('../fonts/montserrat-ultralight.svg#montserrat_ultralight') format('svg'),
         url('../fonts/montserrat-ultralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-ultralight.woff') format('woff'),
         url('../fonts/montserrat-ultralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'popcorn';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 10px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-android:before { 
    content: '\e800'; 
} 
.icon-github:before { 
    content: '\e801'; 
} 
.icon-linux:before { 
    content: '\e802'; 
} 
.icon-win:before { 
    content: '\e803'; 
} 
.icon-vlc:before { 
    content: '\e804'; 
} 
.icon-hd:before { 
    content: '\e805'; 
} 
.icon-facebook:before { 
    content: '\e806'; 
} 
.icon-twitter:before { 
    content: '\e807'; 
} 
.icon-eye:before { 
    content: '\e808'; 
} 
.icon-browser:before { 
    content: '\e809'; 
} 
.icon-mac:before { 
    content: '\e80a'; 
} 
.icon-laptop:before { 
    content: '\e80b'; 
} 
.icon-screen:before { 
    content: '\e80c'; 
} 
.icon-window:before { 
    content: '\e80d'; 
} 
.icon-info:before { 
    content: '\e80e'; 
} 
.icon-close:before { 
    content: '\e80f'; 
} 
.icon-play:before { 
    content: '\e810'; 
} 
.icon-mobile:before { 
    content: '\e811'; 
} 