@font-face {
    font-family: 'popcorn';
    src:url('../fonts/popcorn.eot?54871604');
    src:url('../fonts/popcorn.svg?54871604#popcorn') format('svg'),
        url('../fonts/popcorn.eot?54871604#iefix') format('embedded-opentype'),
        url('../fonts/popcorn.woff?54871604') format('woff'),
        url('../fonts/popcorn.ttf?54871604') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/montserrat-bold.eot');
    src: url('../fonts/montserrat-bold.svg#montserratbold') format('svg'),
         url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.svg#montserratregular') format('svg'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/proxima-nova-light.eot');
    src: url('../fonts/proxima-nova-light.svg#proxima_nova_ltlight') format('svg'),
         url('../fonts/proxima-nova-light.woff') format('woff'),
         url('../fonts/proxima-nova-light.ttf') format('truetype'),
         url('../fonts/proxima-nova-light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/proxima-nova-semibold.eot');
    src: url('../fonts/proxima-nova-semibold.svg#proxima_nova_ltsemibold') format('svg'),
         url('../fonts/proxima-nova-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova-semibold.woff') format('woff'),
         url('../fonts/proxima-nova-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proxima-nova-bold.eot');
    src: url('../fonts/proxima-nova-bold.svg#proxima_nova_rgbold') format('svg'),
         url('../fonts/proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova-bold.woff') format('woff'),
         url('../fonts/proxima-nova-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold Italic';
    src: url('../fonts/proxima-nova-semibold-italic.eot');
    src: url('../fonts/proxima-nova-semibold-italic.svg#proxima_novasemibold_italic') format('svg'),
         url('../fonts/proxima-nova-semibold-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova-semibold-italic.woff') format('woff'),
         url('../fonts/proxima-nova-semibold-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'popcorn';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 10px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-android:before { 
    content: '\e800'; 
} 
.icon-github:before { 
    content: '\e801'; 
} 
.icon-linux:before { 
    content: '\e802'; 
} 
.icon-win:before { 
    content: '\e803'; 
} 
.icon-vlc:before { 
    content: '\e804'; 
} 
.icon-hd:before { 
    content: '\e805'; 
} 
.icon-facebook:before { 
    content: '\e806'; 
} 
.icon-twitter:before { 
    content: '\e807'; 
} 
.icon-eye:before { 
    content: '\e808'; 
} 
.icon-browser:before { 
    content: '\e809'; 
} 
.icon-mac:before { 
    content: '\e80a'; 
} 
.icon-laptop:before { 
    content: '\e80b'; 
} 
.icon-screen:before { 
    content: '\e80c'; 
} 
.icon-window:before { 
    content: '\e80d'; 
} 
.icon-info:before { 
    content: '\e80e'; 
} 
.icon-close:before { 
    content: '\e80f'; 
} 
.icon-play:before { 
    content: '\e810'; 
} 
.icon-mobile:before { 
    content: '\e811'; 
} 