#footer {
	padding-top: 80px;
	background: #203041;

	.logo {
		display: block;
		float: left;
		text-indent: -9999px;
		overflow: hidden;
		width: 193px;
		height: 46px;
		background: url(../images/footer-logo.svg) no-repeat center;
		background-size: cover;
		opacity: 0.3;
		transition: opacity 0.2s ease;
		margin-top: 21px;

		&:hover {
			opacity: 0.9;
		}
	}

	nav {
		max-width: 980px;
		padding-bottom: 80px;
		margin: 0 auto;
	}

	#status {

		&:before {
			content: '';
			border-radius: 99px;
			margin-right: 4px;
			width: 9px;
			height: 9px;
			display: inline-block;
		}
		
		&.none:before {
			background-color: #2FCC66;
		}

		&.minor:before {
			background-color: #F1C40F;
		}

		&.major:before {
			background-color: #E67E22;
		}

		&.critical:before {
			background-color: #E74C3C;
		}
	}

	ul {
		float: right;
		padding: 0;
		margin: 0;

		&.social {

			li {
				list-style: none;
				vertical-align: middle;
				display: inline-block;
				margin-left: 10px;

				&:first-child {
					margin: 0;
				}

				a {
					width: 32px;
					height: 32px;
					opacity: 0.4;
					display: block;
					transition: opacity 0.2s ease;
					overflow: hidden;
					text-indent: -9999px;

					&:hover {
						opacity: 0.9;
					}

					&.twitter {
						background: url(../images/icon-twitter.png) no-repeat center;
						background-size: contain;
					}
					&.google {
						background: url(../images/icon-google.png) no-repeat center;
						background-size: contain;
					}
					&.facebook {
						background: url(../images/icon-facebook.png) no-repeat center;
						background-size: contain;
					}
					&.blog {
						background: url(../images/icon-blog.png) no-repeat center;
						background-size: contain;
					}
					&.github {
						background: url(../images/icon-github.png) no-repeat center;
						background-size: contain;
					}
					&.stash {
						background: url(../images/icon-stash.png) no-repeat center;
						background-size: contain;
					}
					&.discourse {
						background: url(../images/icon-discourse.png) no-repeat center;
						background-size: contain;
					}
					&.popcorn {
						background: url(../images/icon-popcorn.png) no-repeat center;
						background-size: contain;
					}
				}
			}
		}

		small {
			display: block;
			color: #6496b7;
			font-size: 12px;
			font-style: italic;
		}
	}

	hr {
		border: none;
		border-top: 1px solid #3b5570;
		max-width: 980px;
	}

	footer {
		text-align: center;
		font-size: 14px;
		color: #526d8a;
		font-family: 'Proxima Nova Light';

		p {
			padding: 20px 0 0;

			span {
				color: #e74c3c;
			}
		}

		small {
			padding-bottom: 10px;
			display: block;
		}

		a {
			text-decoration: none;
			color: #526d8a;
			font-size: 14px;
			transition: color 0.2s ease;

			&:hover {
				color: #fff;
			}
		}
	}
}

@media screen and (max-width: 830px){
	#footer {
		nav {
			padding: 20px 6%;
			padding-bottom: 40px;
		}
	}
}

@media screen and (max-width: 584px){
	#footer {
		.logo {
			float: none;
			width: 193px;
			margin: 10px auto;
		}
		nav {
			ul {
				float: none;
				width: 100%;
				text-align: center;
			}
		}
	}
}
