#get-app {
	text-align: center;
	font-size: 24px;
	padding: 50px 0 0 0;
	color: #464646;

	h2 {
		font-family: 'Proxima Nova Light';
		font-weight: normal;
	}

	p {
		font-family: 'Proxima Nova Light';
		color: #a7abae;
	}

	.platforms {
		padding: 50px 0 80px;

		li {
			list-style: none;
			display: inline-block;
			padding: 0 40px;

			&:before {
				display: block;
				font-size: 86px;
				text-indent: 8px;
				margin-bottom: 20px;
				color: $dark-blue;
			}
			small {
				color: #9B9B9B;
				font-size: 12px;
				font-weight: normal;
				font-family: 'Proxima Nova Semibold Italic';
				display: block;
			}
			[class^="btn-"] {
				margin-bottom: 15px;
			}
		}
	}
}

@media screen and (max-width: 830px){
	#get-app {
		.text {
			padding: 0 5%;
			font-size: 0.7em;
			h2 {
				font-size: 1.5em;
				line-height: 1;
			}
		}
		.platforms {
			padding: 0;
			li {
				display: block;
				margin: 40px 0;
			}
		}
	}
}
