#header {
	height: 570px;
	background: url(../images/bg-header.jpg) no-repeat center top #0a0b28;
	background-size: cover;
	font-family: 'Proxima Nova Light';
	text-align: center;
	overflow: hidden;
	padding-top: 30px;
	box-sizing: border-box;
	transform: translateX(0);
	color: #fff;


	.text {
		padding: 0 0 40px;
	}

	h1 {
		margin-top: 30px;
		font-size: 36px;
	}

	p {
		margin-bottom: 0;
		color: #a1b4c6;
		font-size: 22px;
	}

	nav {
		position: relative;

		.align-left {
			position: absolute;
			top: 0;
			left: 0;
		}
		.align-right {
			position: absolute;
			top: 0;
			right: 0;
		}
		ul {
			list-style: none;
			margin: 5px 0;
			padding: 0;

			li {
				display: inline-block;
				margin: 0 10px;
			}

			li.text {
				font-size: 18px;
				padding: 0;

				a {
					color: #fff;
					text-decoration: none;
				}
			}
			li.social a {
				display: block;
				width: 26px;
				height: 26px;
				text-align: center;
				color: #fff;
				text-decoration: none;
				line-height: 32px;
				border-radius: 50%;
				position: relative;

				&.icon-facebook:before {
					font-size: 16px;
					position: absolute;
					top: 5px;
					left: 9px;
				}
				&.icon-twitter:before {
					font-size: 12px;
					position: absolute;
					top: 7px;
					left: 6px;
				}
				&.icon-github:before {
					position: absolute;
					top: 0px;
					left: 0px;
					font-size: 25px;
				}
			}
		}
	}
}

#logo {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	width: 211px;
	height: 71px;
	background: url(../images/header-logo.png) no-repeat;
	margin: 0 auto;
	text-align: left;
}

#links {
	font-size: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0 0 30px;

	li {
		list-style: none;
		display: inline-block;
		text-align: center;
		vertical-align: top;

		&.download {
			line-height: 40px;
			margin-right: 0;

			a {
				line-height: 19px;
			}
		}
		&.github {
			position: relative;
			top: 16px;

			a:before {
				position: absolute;
				left: -30px;
			}
		}

		small {
			font-size: 12px;
			color: #d6d7d7;
			font-weight: normal;
			font-family: 'Proxima Nova Semibold Italic';
		}
	}

	a {
		color: #fff;
		text-decoration: none;
	}
}

@media screen and (max-width: 1024px){
	.align-left {
		left: 4%;
	}
	.align-right {
		right: 4%
	}
}

@media screen and (max-width: 510px){
	#header {
		height: 480px;
		position: static;
	}
	.container {
		position: static;
	}
	.text {
		h1 {
			font-size: 2em;
		}
		max-width: 90%;
		margin: 0 auto;
		font-size: 0.8em;
	}
	nav {
		.align-left, .align-right {
			display: none;
		}
	}
	#links {
		display: none;
	}
}
