#how {
	background: url(../images/bg-how.jpg) no-repeat center #0e1226;
	background-size: cover;
	height: 569px;
	position: relative;
	color: #fff;
	box-sizing: border-box;
	padding-top: 40px;
	overflow: hidden;
	text-align: center;

	h2, h4 {
		margin: 0 0 10px;
	}

	.steps {
		position: relative;
		font-weight: bold;
		margin-top: 50px;

		li {
			line-height: 42px;
			position: relative;
			list-style: none;
			padding-left: 25px;
			margin: 0 0 50px 0;
			display: inline-block;

			&:last-child {
				margin: 0;
			}

			&:before {
			  border-width: 2px;
			  border-color: rgb( 16, 21, 45 );
			  border-style: solid;
			  border-radius: 50%;
			  background-image: linear-gradient( 90deg, #80bde4 0%, #e4f2fa 100%);
			  box-shadow: 0px 0px 6px 0px rgba( 28, 92, 145, .3 );
			  display: block;
			  width: 40px;
			  height: 40px;
			  text-align: center;
			  color: #0e1328;
			  text-shadow: 0px 1px #fff;
			  line-height: 42px;
			  position: absolute;
			  left: -40px;
			  top: 0;
			}
		}
	}
}
