#subscribe {
	padding: 50px 0 70px;
	margin: 0 auto;
	background: #1b222a;
	text-align: center;

	h1 {
		margin: 0;
		color: #fff;
		font-size: 28px;
		font-family: 'Proxima Nova Light';
		margin-bottom: 40px;
	}

	input[type="email"] {
		border: none;
		padding: 16px;
		background: #fff;
		min-width: 400px;
		border-radius: 3px;

		&:focus {
			outline: none;
		}
	}

	input[type="button"],
	input[type="submit"] {
		border: none;
		padding: 16px;
		background: $button-red;
		color: #fff;
		font-family: 'Proxima Nova Semibold';
		font-size: 19px;
		border-radius: 3px;
		margin-left: -10px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		transition: background-color ease .2s;

		&:focus {
			outline: none;
		}

		  &:hover {
			background-color: darken($button-red, 10%);
		  }

		  &:active {
			background-color: darken($button-red, 20%);
		  }
	}
}

@media screen and (max-width: 584px){
	#subscribe {
		input[type="email"] {
			border: none;
			padding: 16px;
			background: #fff;
			min-width: 50%;
			border-radius: 3px;
		}
	}
}
