.tos {
	background: #203041;
	margin: 20px 0;
	font-family: 'Montserrat Light';
	font-weight: normal;
	color: #fff;

	header {
		text-align: center;
	}

	.logo-link {
		display: inline;
	}
}

.tos-container {
	width:600px;
	margin:0 auto;
	line-height: 1.3em
}