<% include templates/header %>
<body lang="en" id="page-faq" class="beta">
	<section id="header">
		<nav class="fixed-width">
			<a class="logo-link" href="https://popcorntime.re/"><h1 id="logo">Popcorn Time</h1></a>
			<ul class="social align-right">
				<% include templates/social %>
			</ul>

			<ul class="align-left">
				<li class="text"><a data-i18n="nav.home" href="https://popcorntime.re/">HOME</a></li>
				<li class="text"><a data-i18n="nav.tos" href="https://popcorntime.re/tos">TOS</a></li>
			</ul>
		</nav>
	</section>

	<div class="container fadeIn wow">
		<section id="faq" class="fixed-width">
			<div class="warning">
				<img src="images/icon-warning.svg" alt="Warning!">
				<h5 data-i18n="warning.whatitdoes">Popcorn Time streams movies and TV shows from torrents</h5>
				<p data-i18n="warning.copyright">Downloading copyrighted material may be illegal in your country. Use at your own risk.</p>
			</div>

			<article id="what">
				<h1>Frequently Asked Questions</h1>
				<p>Popcorn Time is the result of many developers and designers putting a bunch of APIs together to make the experience of watching torrent movies as simple as possible.</p>
				<p>We are an open source project. We are from all over the world. We love our movies. And boy, do we love popcorn.</p>	
			</article>

			<article id="legal">
				<h2>Is this legal?</h2>
				<p>Depends on where you're from, really. Once again: we're using torrents, so if you really care, you'd better google what the legal situation around this protocol is where you live.</p>
			</article>

			<article id="seeding">
				<h2>Popcorn Time works using torrents, fair enough. Am I seeding while watching a movie?</h2>
				<p>Indeed, you are. You're going to be uploading bits and bits of the movie for as long as you're watching it on Popcorn Time.</p>
			</article>

			<article id="storage">
				<h2>What happens to the movies after I'm done?</h2>
				<p>Your movies will stay buried in a temporary folder somewhere on your drive until you restart your computer. Then it will be gone for good. You can choose to keep the downloaded files in the settings.</p>
			</article>

			<article id="update">
				<h2>Will there be a new version?</h2>
				<p>Most definitely. You're going to have to download it manually though. But fear not! If you're on Beta version 2 or above, you'll be notified within the app. Other than that, we'll let you know through Facebook and/or Twitter.</p>
			</article>

			<article id="movies">
				<h2>How come you've got the latest movies?</h2>
				<p>We search for movies uploaded by YTS. Better ask them how they are handling this!</p>
			</article>

			<article id="episodes">
				<h2>Why are some episodes missing?</h2>
				<p>We grab the TV Show episodes from EZTV. Due to video and audio codec limitations we are very selective on what releases we grab via the API. This is why some TV shows appear to be missing episodes.</p>
			</article>

			<article id="languages">
				<h2>Will you be adding movies in my language?</h2>
				<p>Chances are that most (if not all) of the movies available in Popcorn Time will be in English. However, languages for subtitles and the app itself are constantly being added by our lovely contributors.</p>
			</article>

			<article id="cant-launch">
				<h2>Why can't I launch Popcorn Time?</h2>
				<p class="icon-mac"><strong>Your system may prevent unsigned apps from being run</strong><br />Go to <span class="code">System Preferences > Security > Allow Apps downloaded from > Anywhere</span> and try to launch Popcorn Time again.</p>
				<p class="icon-mac"><strong>You may have not have enough User Priviliges</strong><br />
					Open a Terminal, and type:
					<ul class="step-code">
						<li><span class="code">$ chmod +x /Applications/Popcorn\ Time.app/Contents/MacOS/node-webkit</span></li>
						<li><span class="code">$ chmod +x /Applications/Popcorn\ Time.app/Contents/Frameworks/crash_inspector</span></li>
						<li><span class="code">$ chmod +x /Applications/Popcorn\ Time.app/Contents/Frameworks/node-webkit\ Helper.app/Contents/MacOS/node-webkit\ Helper</span></li>
						<li><span class="code">$ chmod +x /Applications/Popcorn\ Time.app/Contents/Frameworks/node-webkit\ Helper\ EH.app/Contents/MacOS/node-webkit\ Helper\ EH</span></li>
						<li><span class="code">$ chmod +x /Applications/Popcorn\ Time.app/Contents/Frameworks/node-webkit\ Helper\ NP.app/Contents/MacOS/node-webkit\ Helper\ NP</span></li>
					</ul></p>
			</article>

			<article id="stuck">
				<h2>I can't get past the initial "Please wait..." screen :(</h2>
				<p>Living on Queen Elizabeth's realm, aren't you? Nothing we can do about that right now, sorry. But setting up a proxy might do the trick!</p>
			</article>

			<article id="select-subtitles">
				<h2>Why can't I select subtitles?</h2>
				<p>You may have to wait until all of the movie data (cover, summary, length, etc...) is retrieved. Sometimes it may be something else!</p>
			</article>

			<article id="new-apps">
				<h2>Thinking about launching for iOS/Apple TV/Smart TVs/Commodore 64?</h2>
				<p>Our efforts are currently towards improving our existing applications for watching torrent movies. So launching versions for other platforms is not in our immediate roadmap.</p>
			</article>
			
			<article id="other-question">
				<h2>I have a question that is not listed here, were should I go?</h2>
				<p>You could ask your question on <a href="https://discuss.popcorntime.re/">our forum</a>, that's where our developers are trying to answer every question. And when they don't have time to help you, someone else from our community might be able to point you in the right direction.</p>
			</article>
		</section>
	</div>
	<div>
		<% include templates/footer %>
</body>
</html>
