<% include templates/header %>
<body lang="en" id="page-get" class="beta">
	<section id="header">
		<nav class="fixed-width">
			<a class="logo-link" href="https://popcorntime.io/"><h1 id="logo">Popcorn Time</h1></a>
			<ul class="social align-right">
				<li><a href="https://blog.popcorntime.io/" title="Blog" target="_blank" class="blog">Blog</a></li>
				<li><a href="https://discuss.popcorntime.io/" title="Forum" target="_blank" class="discourse">Forum</a></li>
				<li><a href="https://twitter.com/popcorntimetv" title="Twitter" target="_blank" class="twitter">Twitter</a></li>
				<li><a href="https://www.facebook.com/PopcornTimeTv" title="Facebook" target="_blank" class="facebook">Facebook</a></li>
				<li><a href="https://git.popcorntime.io/" title="GitLab" target="_blank" class="gitlab">GitLab</a></li>
			</ul>

			<ul class="align-left">
				<li class="text"><a data-i18n="nav.home" href="https://popcorntime.io/">HOME</a></li>
				<li class="text"><a data-i18n="nav.faq" href="https://popcorntime.io/faq">FAQ</a></li>
				<li class="text"><a data-i18n="nav.tos" href="https://popcorntime.io/tos">TOS</a></li>
			</ul>
		</nav>
	</section>

	<div class="container fadeIn wow">
		<section id="get" class="fixed-width">
			<div class="warning">
				<img src="images/icon-warning.svg" alt="Warning!">
				<h5 data-i18n="warning.whatitdoes">Popcorn Time streams movies and TV shows from torrents</h5>
				<p data-i18n="warning.copyright">Downloading copyrighted material may be illegal in your country. Use at your own risk.</p>
			</div>

			<article id="what">
				<h1>Downloading Popcorn Time</h1>
				<p>Popcorn Time is the result of many developers and designers putting a bunch of APIs together to make the experience of watching torrent movies as simple as possible.</p>
				<p>We are an open source project. We are from all over the world. We love our movies. And boy, do we love popcorn.</p>
			</article>

			<article id="windows">
				<h2>Windows</h2>
				<h5>For Windows 7 and above</h5>
				<p>Latest Stable:</p>
				<a data-os="Windows" href="https://get.popcorntime.io/build/<%- data.meta.downloads.win %>" class="btn-main icon-win">Download Stable <%- data.meta.version.desktop %></a><br />
				<p>Latest Experimental:</p>
				<a data-os="Windows" href="https://ci.popcorntime.io/job/Popcorn-Experimental/lastSuccessfulBuild/artifact/build/releases/Popcorn-Time/win/<%- data.meta.downloads.win %>" class="btn-main icon-win">Download Experimental <%- data.meta.version.desktop %></a><br />
			</article>

			<article id="mac">
				<h2>Mac OSX</h2>
				<h5>For Mac OSX 10.7 and above</h5>
				<p>Latest Stable:</p>
				<a data-os="Mac" href="https://get.popcorntime.io/build/<%- data.meta.downloads.mac %>" class="btn-main icon-mac">Download Stable <%- data.meta.version.desktop %></a><br />
				<p>Latest Experimental:</p>
				<a data-os="Mac" href="https://ci.popcorntime.io/job/Popcorn-Experimental/lastSuccessfulBuild/artifact/build/releases/Popcorn-Time/mac/<%- data.meta.downloads.mac %>" class="btn-main icon-mac">Download Experimental <%- data.meta.version.desktop %></a><br />
			</article>

			<article id="linux">
				<h2>Linux</h2>
				<h5>For Linux 64-bit</h5>
				<p>Latest Stable:</p>
				<a data-os="Linux 64" href="https://get.popcorntime.io/build/<%- data.meta.downloads.lin['64bit'] %>" class="btn-main icon-linux">Download Stable <%- data.meta.version.desktop %></a><br />
				<p>Latest Experimental:</p>
				<a data-os="Linux 64" href="https://ci.popcorntime.io/job/Popcorn-Experimental/lastSuccessfulBuild/artifact/build/releases/Popcorn-Time/linux64/<%- data.meta.downloads.mac %>" class="btn-main icon-linux">Download Experimental <%- data.meta.version.desktop %></a><br />
				<p></p>
				<h5>For Linux 32-bit</h5>
				<p>Latest Stable:</p>
				<a data-os="Linux 32" href="https://get.popcorntime.io/build/<%- data.meta.downloads.lin['32bit'] %>" class="btn-main icon-linux">Download Stable <%- data.meta.version.desktop %></a><br />
				<p>Latest Experimental:</p>
				<a data-os="Mac" href="https://ci.popcorntime.io/job/Popcorn-Experimental/lastSuccessfulBuild/artifact/build/releases/Popcorn-Time/linux32/<%- data.meta.downloads.mac %>" class="btn-main icon-linux">Download Experimental <%- data.meta.version.desktop %></a><br />
			</article>

			<article id="android">
				<h2>Android</h2>
				<h5>For Android 4.0.3 and above</h5>
				<p>Latest Stable:</p>
				<a data-os="Mac" href="https://get.popcorntime.io/build/<%- data.meta.downloads.android %>" class="btn-main icon-android">Download Stable <%- data.meta.version.android %></a><br />
				<p>Latest Experimental:</p>
				<a data-os="Mac" href="https://get.popcorntime.io/build/<%- data.meta.downloads.android %>" class="btn-main icon-android">Download Experimental <%- data.meta.version.android %></a><br />
			</article>
		</section>
	</div>
	<div>
		<% include templates/footer %>
</body>
</html>
