<% include templates/header %>
<body lang="en" class="beta">
	<section id="header">
		<nav class="fixed-width">
			<a href="https://popcorntime.io/"><h1 id="logo">Popcorn Time</h1></a>
			<ul class="social align-right">
				<li><a href="https://blog.popcorntime.io/" target="_blank" class="blog">Blog</a></li>
				<li><a href="https://discuss.popcorntime.io/" target="_blank" class="discourse">Forum</a></li>
				<li><a href="https://twitter.com/popcorntimetv" target="_blank" class="twitter">Twitter</a></li>
				<li><a href="https://www.facebook.com/PopcornTimeTv" target="_blank" class="facebook">Facebook</a></li>
				<li><a href="https://git.popcorntime.io/" target="_blank" class="stash">Stash</a></li>
			</ul>

			<ul class="align-left">
				<li class="text"><a data-i18n="nav.faq" href="https://popcorntime.io/faq">FAQ</a></li>
				<li class="text"><a data-i18n="nav.tos" href="https://popcorntime.io/tos">TOS</a></li>
			</ul>

			<div class="align-left facebook-widget">
				<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fpopcorntime.io&amp;width&amp;layout=button&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=159481197468524" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</ul>
		</nav>

		<div class="text">
			<h2 data-i18n="header.beta.title">Watch Movies and TV Shows instantly</h2>
			<p data-i18n="header.beta.subtitle">Currently in Beta, but go ahead and try it!</p>
		</div>

		<ul id="links">
			<li class="download dl-mac">
				<a data-i18n="download.text" data-os="Mac" href="https://get.popcorntime.io/build/<%- data.meta.downloads.mac %>" class="btn-main icon-mac">Download Beta <%- data.meta.version %></a><br />
				<small data-i18n="download.mac">For Mac OSX 10.7 and above <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
			</li>
			<li class="download dl-win">
				<a data-i18n="download.text" data-os="Windows" href="https://get.popcorntime.io/build/<%- data.meta.downloads.win %>" class="btn-main icon-win">Download Beta <%- data.meta.version %></a><br />
				<small data-i18n="download.windows">For Windows 7 and above <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
			</li>
			<li class="download dl-lin-32">
				<a data-i18n="download.text" data-os="Linux 32" href="https://get.popcorntime.io/build/<%- data.meta.downloads.lin['32bit'] %>" class="btn-main icon-linux">Download Beta <%- data.meta.version %></a><br />
				<small data-i18n="download.linux32">For 32-bit Linux <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
			</li>
			<li class="download dl-lin-64">
				<a data-i18n="download.text" data-os="Linux 64" href="https://get.popcorntime.io/build/<%- data.meta.downloads.lin['64bit'] %>" class="btn-main icon-linux">Download Beta <%- data.meta.version %></a><br />
				<small data-i18n="download.linux64">For 64-bit Linux <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
			</li>
		</ul>
	</section>

	<div class="container">
		<div class="warning">
			<img src="images/icon-warning.svg" alt="Warning!">
			<h5 data-i18n="warning.whatitdoes">Popcorn Time streams movies and TV shows from torrents</h5>
			<p data-i18n="warning.copyright">Downloading copyrighted material may be illegal in your country. Use at your own risk.</p>
		</div>
		<section id="features">
			<div class="clear-fix">
				<article>
					<img src="images/icon-best.png" width="100" alt="Great Movies and TV Shows">
					<h5 data-i18n="features.greatmovies.title">Great Movies and TV Shows</h5>
					<p data-i18n="features.greatmovies.text">We're constantly searching all over the web for the best torrents from the most important sites.</p>
				</article>

				<article>
					<img src="images/icon-watch.png" width="100" alt="No restrictions">
					<h5 data-i18n="features.restrictions.title">No restrictions</h5>
					<p data-i18n="features.restrictions.text">Watch any movie or TV show as many times as you want. All you need to get started is a proper internet connection.</p>
				</article>

				<article>
					<img src="images/icon-search.png" width="100" alt="Awesome catalogue">
					<h5 data-i18n="features.catalogue.title">Awesome catalogue</h5>
					<p data-i18n="features.catalogue.text">If the movie or TV show is out there, Popcorn Time will find the best version possible and start streaming it right away.</p>
				</article>

				<article>
					<img src="images/icon-subs.png" width="100" alt="The best quality">
					<h5 data-i18n="features.quality.title">The best quality</h5>
					<p data-i18n="features.quality.text">Watch your movie or episode instantly in HD and with subtitles. And then keep watching.</p>
				</article>

				<div class="save-wrapper">
					<article>
						<img src="images/icon-save.png" width="100" alt="Save time for making popcorn">
						<h5 data-i18n="features.save.title">Save time for making popcorn</h5>
						<p data-i18n="features.save.text">No wait or download time. Instant playback of your favorite movies and TV shows.</p>
					</article>
				</div>
			</div>

			<div class="align-center action">
				<img src="images/logo-valentines.png" alt="Pochoclin" class="align-center pochoclin">
				<hr />
				<h2>Best of all... it's free!</h2>
				<div class="dl-mac">
					<a data-i18n="download.text" data-os="Mac" href="https://get.popcorntime.io/build/<%- data.meta.downloads.mac %>" class="btn-main icon-mac">Download Beta <%- data.meta.version %></a>
					<small data-i18n="download.mac">For Mac OSX 10.7 and above <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
				</div>
				<div class="dl-win">
					<a data-i18n="download.text" data-os="Windows" href="https://get.popcorntime.io/build/<%- data.meta.downloads.win %>" class="btn-main icon-win">Download Beta <%- data.meta.version %></a>
					<small data-i18n="download.windows">For Windows 7 and above <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
				</div>
				<div class="dl-lin-32">
					<a data-i18n="download.text" data-os="Linux 32" href="https://get.popcorntime.io/build/<%- data.meta.downloads.lin['32bit'] %>" class="btn-main icon-lin">Download Beta <%- data.meta.version %></a>
					<small data-i18n="download.linux32">For 32-bit Linux Users <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
				</div>
				<div class="dl-lin-64">
					<a data-i18n="download.text" data-os="Linux 64" href="https://get.popcorntime.io/build/<%- data.meta.downloads.lin['64bit'] %>" class="btn-main icon-lin">Download Beta <%- data.meta.version %></a>
					<small data-i18n="download.linux64">For 64-bit Linux Users <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
				</div>
			</div>
		</section>

		<section id="how">
			<div>
				<h2 data-i18n="how.title">Hard to believe?</h2>
				<h4 data-i18n="how.subtitle">See how easy it works...</h4>
				<ul class="steps">
					<li data-i18n="how.open" class="how-open">Open Popcorn Time<br>and select a movie or episode</li>
					<li data-i18n="how.select" class="how-subtitles">Select quality<br>and subtitles</li>
					<li data-i18n="how.play" class="how-play">Click play<br>and enjoy!</li>
				</ul>
			</div>
		</section>

		<section id="get-app">
			<div class="text">
				<h2>A whole new way to watch movies and TV</h2>
				<p>Just take care of the popcorn &amp; leave the rest to us.</p>
			</div>
			<ul id="platforms" class="platforms">
				<li class="mac icon-laptop">
					<a data-i18n="download.text" data-os="Mac" href="https://get.popcorntime.io/build/<%- data.meta.downloads.mac %>" class="btn-main icon-mac">Download Beta <%- data.meta.version %></a>
					<small data-i18n="download.mac">For Mac OSX 10.7 and above</small>
				</li>
				<li class="win icon-screen">
					<a data-i18n="download.text" data-os="Windows" href="https://get.popcorntime.io/build/<%- data.meta.downloads.win %>" class="btn-main icon-win">Download Beta <%- data.meta.version %></a>
					<small data-i18n="download.windows">For Windows 7 and above</small>
				</li>
				<li class="lin-32 icon-window">
					<a data-i18n="download.text" data-os="Linux 32" href="https://get.popcorntime.io/build/<%- data.meta.downloads.lin['32bit'] %>" class="btn-main icon-linux">Download Beta <%- data.meta.version %></a>
					<small data-i18n="download.linux32">For 32-bit Linux</small>
				</li>
				<li class="lin-64 icon-window">
					<a data-i18n="download.text" data-os="Linux 64" href="https://get.popcorntime.io/build/<%- data.meta.downloads.lin['64bit'] %>" class="btn-main icon-linux">Download Beta <%- data.meta.version %></a>
					<small data-i18n="download.linux64">For 64-bit Linux</small>
				</li>
			</ul>
		</section>

		<section id="subscribe">
			<h2>Get notified when a new version is available</h2>
			<form action="https://reach.popcorntime.io/sub/1/0v4p6h" method="POST">
				<input type="email" name="email_address" data-i18n="email.placeholder" placeholder="Email Address">
				<input type="submit" name="subscribe" value="Subscribe">
			</form>
		</section>
		<% include templates/footer %>
</body>
</html>
