<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Popcorn Time - Watch torrent movies instantly</title>
    <!-- Use latest IE Engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Metadata -->
    <meta name="description" content="Skip the downloads! Watch the best movies instantly in HD, with subtitles, for free! Available for Windows, Mac and Linux.">
    <meta name="author" content="Popcorn time">
    <meta name="robots" content="nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta name="google" value="notranslate">
    <!-- Facebook OpenGraph Metadata -->
    <meta property="og:title" content="Popcorn Time">
    <meta property="og:description" content="Skip the downloads! Watch the best movies instantly in HD, with subtitles, for free! Available for Windows, Mac and Linux.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://get-popcorn.com">
    <!--<meta property="og:image" content="images/fb-icon600.png"> <!-/- 600x315px -/->
    <meta property="og:image" content="images/fb-icon1200.png"> <!-/- 1200x630px -->
    <meta property="og:image" content="http://placehold.it/600x315"> <!-- 600x315px -->
    <meta property="og:image" content="http://placehold.it/1200x630"> <!-- 1200x630px -->
    <!-- Bookmark/Shortcut Icons -->
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Popcorn Time">
    <link rel="apple-touch-icon-precomposed" href="images/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon-precomposed" href="images/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon-precomposed" href="images/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon-precomposed" href="images/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon-precomposed" href="images/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon-precomposed" href="images/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="images/icon57.png" sizes="57x57">
    <link rel="apple-touch-startup-image" media="(orientation: portrait) and (-webkit-max-device-pixel-ratio: 2)" href="images/apple-startup.png">
    <link rel="apple-touch-startup-image" media="(orientation: landscape) and (-webkit-max-device-pixel-ratio: 2)" href="images/apple-startup-landscape.png">
    <link rel="apple-touch-startup-image" media="(orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)" href="images/apple-startup-retina.png">
    <link rel="apple-touch-startup-image" media="(orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)" href="images/apple-startup-landscape-retina.png">
    <!-- CSS -->
    <link href="css/main<% if(!data.dev) { %>.min<% } %>.css" media="all" rel="stylesheet" type="text/css">       
    <!-- JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/analytics.js/1.3.29/analytics.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/1.6.3/i18next-1.6.3.min.js" type="text/javascript"></script>
</head>
<body class="beta">
    <section id="header">
        <nav class="fixed-width">
            <a href="http://get-popcorn.com" id="logo">Popcorn Time</a>
            <ul class="social align-right">
                <li><a href="http://blog.get-popcorn.com/" target="_blank" class="blog"></a></li>
                <li><a href="https://twitter.com/popcorntimetv" target="_blank" class="twitter"></a></li>
                <li><a href="https://github.com/popcorn-official" target="_blank" class="github"></a></li>
            </ul>

            <ul class="align-left">
                <li class="text"><a data-i18n="nav.faq" href="faq.html">FAQ</a></li>
                <li class="text"><a data-i18n="nav.tos" href="tos.html">TOS</a></li>
            </ul>
        </nav>

        <div class="text">
            <h1 data-i18n="header.beta.title">Watch Movies and TV Shows instantly</h1>
            <p data-i18n="header.beta.subtitle">Currently in Beta, but go ahead and try it!</p>
        </div>

        <ul id="links">
            <li class="download dl-mac">
                <a data-i18n="download.text" data-os="Mac" data-file="Popcorn-Time-0.3.0-Mac.tar.gz" class="btn-main icon-mac" target="_blank">Download Beta 3.0</a><br />
                <small data-i18n="download.mac">For Mac OSX 10.7 and above</small>
            </li>
            <li class="download dl-win">
                <a data-i18n="download.text" data-os="Windows" data-file="Popcorn-Time-0.3.0-Win.exe" class="btn-main icon-win" target="_blank">Download Beta 3.0</a><br />
                <small data-i18n="download.windows">For Windows 7 and above&nbsp;&nbsp;|&nbsp;&nbsp;Other platforms</small>
            </li>
            <li class="download dl-lin-32">
                <a data-i18n="download.text" data-os="Linux 32" data-file="Popcorn-Time-0.3.0-Linux-32.tar.gz" class="btn-main icon-linux" target="_blank">Download Beta 3.0</a><br />
                <small data-i18n="download.linux32">For 32-bit Linux</small>
            </li>
            <li class="download dl-lin-64">
                <a data-i18n="download.text" data-os="Linux 64" data-file="Popcorn-Time-0.3.0-Linux-64.tar.gz" class="btn-main icon-linux" target="_blank">Download Beta 3.0</a><br />
                <small data-i18n="download.linux64">For 64-bit Linux</small>
            </li>
        </ul>
    </section>

    <div class="container">
        <div class="warning">
            <img src="images/icon-warning.svg">
            <h5 data-i18n="warning.whatitdoes">Popcorn Time streams movies and TV shows from torrents</h5>
            <p data-i18n="warning.copyright">Downloading copyrighted material may be illegal in your country. Use at your own risk.</p>
        </div>
        <section id="features">
            <div class="clear-fix">
                <article>
                    <img src="images/icon-best.png" width="100">
                    <h5 data-i18n="features.greatmovies.title">Great Movies and TV Shows</h5>
                    <p data-i18n="features.greatmovies.text">We're constantly searching all over the web for the best torrents from the most important sites.</p>
                </article>

                <article>
                    <img src="images/icon-watch.png" width="100">
                    <h5 data-i18n="features.restrictions.title">No restrictions</h5>
                    <p data-i18n="features.restrictions.text">Watch any movie or TV show as many times as you want. All you need to get started is a proper internet connection.</p>
                </article>

                <article>
                    <img src="images/icon-search.png" width="100">
                    <h5 data-i18n="features.catalogue.title">Awesome catalogue</h5>
                    <p data-i18n="features.catalogue.text">If the movie or TV show is out there, Popcorn Time will find the best version possible and start streaming it right away.</p>
                </article>

                <article>
                    <img src="images/icon-subs.png" width="100">
                    <h5 data-i18n="features.quality.title">The best quality</h5>
                    <p data-i18n="features.quality.text">Watch your movie or episode instantly in HD and with subtitles. And then keep watching.</p>
                </article>

                <div class="save-wrapper">
                    <article>
                        <img src="images/icon-save.png" width="100">
                        <h5 data-i18n="features.save.title">Save time for making popcorn</h5>
                        <p data-i18n="features.save.text">No wait or download time. Instantly playback of your favorite movies and tv shows.</p>
                    </article>
                </div>
            </div>

            <div class="align-center action">
                <img src="images/logo-valentines.png" alt="Pochoclin" class="align-center pochoclin">
                <hr />
                <h2>Best of all... it's free!</h2>
                <div class="dl-mac">
                    <a data-i18n="download.text" data-os="Mac" data-file="Popcorn-Time-0.3.0-Mac.tar.gz" class="btn-main icon-mac" target="_blank">Download Beta 3.0</a>
                    <small data-i18n="download.mac">For Mac OSX 10.7 and above</small>
                </div>
                <div class="dl-win">
                    <a data-i18n="download.text" data-os="Windows" data-file="Popcorn-Time-0.3.0-Win.exe" class="btn-main icon-win" target="_blank">Download Beta 3.0</a>
                    <small data-i18n="download.windows">For Windows 7 and above <span>|</span> Other platforms</small>
                </div>
                <div class="dl-lin-32">
                    <a data-i18n="download.text" data-os="Linux 32" data-file="Popcorn-Time-0.3.0-Linux-32.tar.gz" class="btn-main icon-lin" target="_blank">Download Beta 3.0</a>
                    <small data-i18n="download.linux32">For 32-bit Linux Users</small>
                </div>
                <div class="dl-lin-64">
                    <a data-i18n="download.text" data-os="Linux 64" data-file="Popcorn-Time-0.3.0-Linux-64.tar.gz" class="btn-main icon-lin" target="_blank">Download Beta 3.0</a>
                    <small data-i18n="download.linux64">For 64-bit Linux Users</small>
                </div>
            </div>
        </section>

        <section id="how">
            <div>
                <h2 data-i18n="how.title">Hard to believe?</h2>
                <h4 data-i18n="how.subtitle">See how easy it works...</h4>
                <ul class="steps">
                    <li data-i18n="how.open" class="how-open">Open Popcorn Time<br>and select a movie</li>
                    <li data-i18n="how.select" class="how-subtitles">Select quality<br>and subtitles</li>
                    <li data-i18n="how.play" class="how-play">Click play<br>and enjoy!</li>
                </ul>
            </div>
        </section>

        <section id="get-app">
            <div class="text">
                <h2>A whole new way to watch movies and TV</h2>
                <p>Just take care of the popcorn &amp; leave the rest to us.</p>
            </div>
            <ul class="platforms">
                <li class="mac icon-laptop">
                    <a data-i18n="download.text" data-os="Mac" data-file="Popcorn-Time-0.3.0-Mac.tar.gz" class="btn-main icon-mac" target="_blank">Download Beta 3.0</a>
                    <small data-i18n="download.mac">For Mac OSX 10.7 and above</small>
                </li>
                <li class="win icon-screen">
                    <a data-i18n="download.text" data-os="Windows" data-file="Popcorn-Time-0.3.0-Win.exe" class="btn-main icon-win" target="_blank">Download Beta 3.0</a>
                    <small data-i18n="download.windows">For Windows 7 and above</small>
                </li>
                <li class="lin-32 icon-window">
                    <a data-i18n="download.text" data-os="Linux 32" data-file="Popcorn-Time-0.3.0-Linux-32.tar.gz" class="btn-main icon-linux" target="_blank">Download Beta 3.0</a>
                    <small data-i18n="download.linux32">For 32-bit Linux</small>
                </li>
                <li class="lin-64 icon-window">
                    <a data-i18n="download.text" data-os="Linux 64" data-file="Popcorn-Time-0.3.0-Linux-64.tar.gz" class="btn-main icon-linux" target="_blank">Download Beta 3.0</a>
                    <small data-i18n="download.linux64">For 64-bit Linux</small>
                </li>
            </ul>
        </section>

        <section id="subscribe">
            <h1>Get notified when a new version is available</h1>
            <form>
                <input type="email" data-i18n="email.placeholder" placeholder="Email Address">
                <input type="button" value="Subscribe">
            </form>
        </section>
        
        <section id="footer">
            <nav class="clear-fix">
                <a href="http://get-popcorn.com" class="logo">Popcorn time</a>
                <ul class="social">
                    <li><a href="http://blog.get-popcorn.com/" target="_blank" class="blog"></a></li>
                    <li><a href="https://twitter.com/popcorntimetv" target="_blank" class="twitter"></a></li>
                    <li><a href="https://github.com/popcorn-official" target="_blank" class="github"></a></li>
                </ul>
            </nav>
            <footer>
                <hr>
                <p>Made with <span>&#10084;</span> by a bunch of geeks from All Around The World</p>
                <small>
                    <a id="status" data-i18n="footer.faq" href="http://status.get-popcorn.com/" target="_blank">Status</a> &mdash; 
                    <a data-i18n="footer.tos" href="tos">Terms of Service</a> &mdash; 
                    <a data-i18n="footer.faq" href="faq">FAQ</a>
                </small>
            </footer>
        </section>
    </div>
    <script type="text/javascript" src="js/main<% if(!data.dev) { %>.min<% } %>.js"></script>
    <script type="text/javascript" src="js/site<% if(!data.dev) { %>.min<% } %>.js"></script>
</body>
</html>
